html{
    box-sizing: border-box;
}
h1{
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #4b0d2ad5;;
    color: #f7f8fa ;
    font-family: karla;
    font-size: 1.3rem;
    background-image: url(background.jpg);
    background: url(background.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }



.content{
    padding: 0;
    margin-top: 5%;
    margin-left: 3%;
    color: rgba(72, 73, 74) ;  
}

/*nav style*/
nav{
    background-color: black;
    width: 150%;
    max-width: 1200px;
    margin: 0;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;

}

nav ul  {list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding:0;
}


nav a{
    display: block;
}
nav li:first-child{
    flex-basis: 100%;
    text-align: center;
    
}
.fashion{
    color: rgba(231, 210, 214, 0.705);
    font-size: 2rem;
    font-weight: bolder;
}

nav input{
border: none;
width: 200px;
height: 40px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
float: left;
margin-top: 13px;
}
nav input:focus{
    outline: none;
}

/*dropdown*/

.drop-down{
    display: none;
}


nav ul li:hover .drop-down{
display: block;
position: absolute;
background: black;
margin-left: 15px;
}

nav ul li:hover .drop-down ul{
    display: block;
    margin: 10px;
}

nav ul li:hover .drop-down ul li{
width: 100px;
padding: 15px;
text-align: left;
background: transparent;
border-bottom: 1px dotted rgb(235, 188, 228);
border-radius: 0;
cursor: pointer;
color: rgb(235, 188, 228)
}
nav ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
    }


#btn{
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 13px;
    border-radius: 0px;
    height: 40px;
    width: 100px;  
    border: 1px solid rgb(141, 65, 131);
    font-size: 15px;
}

/*link style*/
a{
    text-decoration: none;
    color: rgb(116, 9, 101);
    font-weight: bold;
}
a:hover{
    cursor: pointer;
    color: rgb(235, 188, 228);
    
}



span{
    display:block;
    font-size: 3.5rem;
    color: rgba(41, 29, 40);
}
p{
    line-height: 2.5rem;
    letter-spacing: 2px;

}
.text{
    margin-left: 5%;
}


/* black background*/
.login{
    padding: 1rem;
    background-color: black;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin-top: 20px;
    flex-flow: row wrap;

   
}
.login p{
    color: rgba(235, 188, 228);
    font-size: 12px;
}


.socials{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: flex-start;
}


button{
    background-color: rgb(202, 51, 121);
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    width: 8rem;
    
}
input{
    padding: 5px;
}
.login input{
    margin:8px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;

}
.login input:focus{
    outline: none;
}

/* icon styles*/
[class *="fa-"]{
    font-size: 150%;
    color: rgb(167, 14, 147);


}


@media (min-width:850px) {
    nav{
        max-width: 1200px;
        margin: 0, auto;
    }
nav ul{
    justify-content: flex-end;
    gap: 3rem;
}
    nav li:first-child{
        text-align: left;
        margin-right: auto;
        flex-basis: auto;
    }

    .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

    .login{
    grid-column: 2/2;
    grid-row: 1/2;
    order: 2;
    width: 45%;
    flex-direction: left;
    margin-left:40%;
    margin-top: 10px;
    flex-flow: row wrap;
}
}