body{
    background-color: rgba(0, 0, 0, 0.281);
}
h2{
    margin-top: 60px;
    margin-left: 30%;
}
#contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
}
form{
    background-color: rgba(0, 255, 255, 0.938);
    width: 50%;
    margin-top: 3%;
    padding: 3px;
    font-size: 20px;
    position: relative;
    padding: 50px 30px 20px;
}
input, select, textarea{
    margin: 3px;
    flex-basis: 60%;
    padding: 10px;
}

label{
    margin: 5%;
    flex-basis: 25%;
    font-size: medium;
    font-weight: bold;
}
.inputt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    position: relative;
}


.inputt span{
   position: absolute;
   bottom: 12x;
   right: 19px;
   font-size: small;
   color: red;
}
#fullName,#mail, #adress{
    padding: 6px;
    margin: 4%;
    width:18rem;
    border: 0;
    border-bottom: solid rgba(0, 0, 0, 0.473);
    background: transparent;    
}

#fullName,#mail, #adress:focus{
    outline: none;
}


textarea{
    outline: none;
    resize: none;
    height: 8rem;
    border: 0;
    border-bottom: solid rgba(0, 0, 0, 0.473);
    background: transparent;
}
select{
    margin: 5%;
    outline: none;
}
button{
    font-size:medium;
    height: 3rem;
    width: 7rem;
    margin-left: 60%;
    display: block;
    margin: 30px auto 10px;
}
#submit-error{
    color: red;
    font-size: bold;
}
.inputt span i{
    color: seagreen;
}